pipeline/Copy_CustSource_Exception.json
{
	"name": "Copy_CustSource_Exception",
	"properties": {
		"description": "This is to insert exception data to a Data base table",
		"activities": [
			{
				"name": "PolybaseCustomerSource",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "sourcefiles/input/customer_data.csv"
					},
					{
						"name": "Destination",
						"value": "dbo.KI_Customer_STG"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 1
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "Truncate table [dbo].[KI_Customer_STG]",
						"allowPolyBase": true,
						"polyBaseSettings": {
							"rejectValue": 0,
							"rejectType": "value",
							"useTypeDefault": true
						},
						"disableMetricsCollection": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "linkedServicepolbaseblob",
							"type": "LinkedServiceReference"
						},
						"path": "sourcefiles"
					},
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "Int16",
									"ordinal": 1
								},
								"sink": {
									"name": "CustomerID",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"name": "FirstName",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"name": "LastName",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"name": "Email",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 5
								},
								"sink": {
									"name": "Gender",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 6
								},
								"sink": {
									"name": "Country",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 7
								},
								"sink": {
									"name": "Address",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "CustomerBlobSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CustomerStaging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "StgtoDim",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "PolybaseCustomerSource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "StgtoDim",
						"type": "DataFlowReference"
					},
					"staging": {
						"linkedService": {
							"referenceName": "BLOB_kidemostorage",
							"type": "LinkedServiceReference"
						},
						"folderPath": "sourcefiles/input"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "LookupSlNo",
				"description": "from KI_Error_Log table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Error Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select ISNULL(Max(SlNo),0)+1 SlNo from [dbo].[KI_Error_Log]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ErrorLog",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Stored procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LookupSlNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Insert_Error_Log]",
					"storedProcedureParameters": {
						"inp_Error": {
							"value": {
								"value": "@variables('ErrorDetails')",
								"type": "Expression"
							},
							"type": "String"
						},
						"inp_Pipeline": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"inp_SLNo": {
							"value": {
								"value": "@activity('LookupSlNo').output",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Error Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "PolybaseCustomerSource",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ErrorDetails",
					"value": {
						"value": "@activity('PolybaseCustomerSource').Error.Message",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ErrorDetails": {
				"type": "String"
			}
		},
		"annotations": []
	}
}